name: Workflow

on:
  push:
    branches:
      - main
    paths:
      - "package.json"

jobs:
  check-version:
    name: Package
    uses: Sovgut/allocate/.github/workflows/check-version.yml@master

  build:
    name: Package
    needs:
      - check-version
    if: needs.check-version.outputs.is-changed == 'true'
    uses: Sovgut/allocate/.github/workflows/build.yml@master
    with:
      node-version: '20.x'
      package-version: ${{ needs.check-version.outputs.version }}

  test:
    name: Package
    needs:
      - check-version
    if: needs.check-version.outputs.is-changed == 'true'
    uses: Sovgut/allocate/.github/workflows/test.yml@master
    with:
      node-version: '20.x'

  deploy-npm:
    name: Package
    needs:
      - check-version
      - build
      - test
    uses: Sovgut/allocate/.github/workflows/deploy-npm.yml@master
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    with:
      node-version: '20.x'
      package-version: ${{ needs.check-version.outputs.version }}

  deploy-github:
    name: Package
    needs:
      - check-version
      - build
      - test
    uses: Sovgut/allocate/.github/workflows/deploy-github.yml@master
    with:
      node-version: '20.x'
      package-version: ${{ needs.check-version.outputs.version }}
